<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Manage Groups</h1>
    <p class="lead">This is where we create update modify and delete groups </p>
  </div>
</div>
<%= render @groups %>