<div class='row'>
  <div class="col-md-3"><%= image_tag group.image %></div>
  <div class="col-md-3"><%= group.name%></div>
  <div class="col-md-3"><%= group.description %></div>
  <div class="col-md-3"><%= link_to "Manage", edit_group_path(group), class: 'btn btn-warning'%></div>
</div>