<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">My Feed</h1>
    <p class="lead">This Page Should Have all the Controls  </p>
  </div>
</div>
<div class='row'>
  <%= render 'shared/super_admin/super_admin_controls' if logged_in?(:company_admin) %>
</div>
<div class='row'>
  <%= render '/shared/controls/user_events/user_events_list'%>
</div> 