<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">My Feed</h1>
    <p class="lead">This Page Should Have all the Controls  </p>
  </div>
</div>
<div class='row'>
  
</div>
<div class='row'></div>